.other-products__name {
    font-size: 13px;
    font-weight: bold;
    color: #191919;
    margin-top: 7px;
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .other-products__name {
        margin-bottom: 20px;
    }
}