.reviews__header {
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    color: $color-text;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .reviews__header {
        font-size: 14px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .reviews__header {
        font-size: 13px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .reviews__header {
        font-size: 12px;
    }
}