.reviews {
    background-color: $color-bg;
    padding-top: 50px;
    padding-bottom: 80px;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .reviews  {
        padding-bottom: 50px;
    }
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .reviews {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}
    