.feedback-form__input {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    margin-top: 13px;
    padding-bottom: 10px;
    padding-left: 0;
    color: #6a6a6a;
    font-size: 15px;
    
    &:focus {
        border: 0;
        outline: 0;
        border-bottom: 1px solid #6a6a6a;
    }
}