.play {
    position: absolute;
    width: 86px;
    height: 86px;
    background-color: #101010;
    border-radius: 50%;
    
    img {
        width: 11px;
        height: 17px;
        margin-top: 34.5px;
        margin-left: 37.5px;
    }
}