.slider-work__item {
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
    
    &:hover .slider-work__play {
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }
}