.product__content {
    font-size: 15px;
    color: #838383;
    margin-bottom: 15px;
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    
    .product__content {
        font-size: 13px;
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .product__content {
        font-size: 12px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .product__content {
        font-size: 11px;
    }
}