/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .product__img_single {
        width: 100%;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .product__img_single {
        margin: 0;
        margin-bottom: 10px;
    }
}