.product__text {
    
    p {
        font-size: 14px;
        color: #838383;
        margin-bottom: 7px;
    }
    
    ul {
        font-size: 14px;
        color: #838383;
        
        li {
            
            &::before {
                content:  "-";
                position: relative;
                left:     -5px;
            }
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .product__text {
        
        p {
            font-size: 12px;
        }
        
        ul {
            font-size: 12px;
        }
    }
}