.product__button {
    float: left;
    padding: 9px 37px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .product__button {
        float: none;
        width: 150px;
        margin: 0 46.5%;
    }
}