.page__wrap {
    transition-duration: 0.5s;
    transition-timing-function: swing;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.page__wrap.open {
    transform: translateX(250px) translateY(50px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .page__wrap {
        position: relative;
    }
}