.vacancy__label {
    font-size: 15px;
    color: #838383;
    margin-top: 15px;
    margin-bottom: 7px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .vacancy__label {
        font-size: 14px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .vacancy__label {
        font-size: 13px;
        margin-top: 7px;
        margin-bottom: 4px;
    }
}