.open-sidebar {
    display: none;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .open-sidebar {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 5px 15px;
        z-index: 7;
        background-color: #f0342b;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;

        &:focus {
            outline: none;
        }
    }
}