.head-info__logo {
    float: left;
    margin-right: 34px;
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .head-info__logo {
        margin-right: 18px;
    }
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .head-info__logo {
        display: none;
    }
}