.phone__img {
    float: left;
    margin: 35px 22px 0 0;
}

/* Small Devices, Phones */
@media only screen and (max-width : 575px) {
    
    .phone__img {
        margin-top: 10px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .phone__img {
        margin-right: 10px;
    }
}