.phone__numbers {
    float: right;
    margin: 17px 38px 0 0;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .phone__numbers {
        margin-top: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .phone__numbers {
        margin-right: 10px;
    }
}