.phone__number {
    display: block;
    color: $color-text;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.5;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .phone__number {
        font-size: 13px;
    }
}