.footer__social {
    margin-top: 4px;
    margin-right: 40px;
    
    a {
        cursor: pointer;
        opacity: .32;
        
        &:hover {
            opacity: .6;
        }
    }
}

/* Large Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .footer__social {
        margin-top: 0;
        margin-right: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    
    .footer__social {
        display: none;
    }
}
    