.search__button {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-content: center;
    cursor: pointer;
    padding: 0 12px;
}