.navigation {
    border-top: 1px solid $color-bg;
    background-image: url(images/nav_bg.jpg);
    background-repeat: repeat-x;
    border-bottom: 1px solid $color-bg;
}

/* Medium Devices, Tablets */
@media only screen and (max-width : 767px) {
    
    .navigation {
        display: none;
    }
}